<script type="text/template" id="admin-singleuser-template">
  <td><div class="admin-icon" <%%= admin ? '' : 'style="display:none"' %>>
    <%= show_svg('user-astronaut.svg') %></div>
  </td>
  <td>
    <img class="user_icon" width="30px" height="30px" src="<%%= avatar_url %>">
  </td>
  <td><label><%%= id %></label></td>
  <td><label><%%= nickname %></label></td>
  <td><label><%%= email %></label></td>
  <td><input class="form-control displayname" value="<%%= displayname %>"
             style="text-align: center;width: 17ch;border: none; padding: 1px; margin-left: 10px; margin-right: 10px;"></td>
  <td><label><%%= banned %></label></td>
</script>

<script type="text/template" id="admin-userlist-template">
  <h1><%%= listname %> <button type="button" class="button-sm" id="refresh-button">
    <%= show_svg('refresh.svg') %></button></h1>
  <table id="users-table" border-spacing="20px" padding="0 2em 1em 0">
    <tr><th></th><th></th><th>Id</th><th>Nickname</th><th>Email</th><th>Display name</th><th>Banned</th></tr>
  </table>
</script>

<script type="text/template" id="admin-singlechat-template">
  <td><div class="chat-access-icon" <%%= private ? '' : 'style="display:none"' %>>
    <%= show_svg('lock.svg') %></div>
    <div class="chat-access-icon" <%%= private ? 'style="display:none"' : '' %>>
    <%= show_svg('lock-open.svg') %></div>
  </td>
  <td><label><%%= id %></label></td>
  <td><label><%%= name %></label></td>
  <td><label><%%= owner_name %></label></td>
</script>

<script type="text/template" id="admin-chatlist-template">
  <h1>Chatrooms <button type="button" class="button-sm" id="refresh-button">
    <%= show_svg('refresh.svg') %></button></h1>
  <table id="chats-table" border-spacing="20px" padding="0 2em 1em 0">
    <tr><th></th><th>Id</th><th>Name</th><th>Owner</th></tr>
  </table>
</script>

<script type="text/template" id="admin-template">
  <table id="admin-table">
    <tr>
      <th id="admin-nav">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button onclick="location.href='#/admin';" class="nav-link" id="admin-users-tab" type="button" role="tab">All Users</button>
          <button onclick="location.href='#/admin/chats';" class="nav-link" id="admin-chats-tab" type="button" role="tab">Chatrooms</button>
          <hr>
          <button onclick="location.href='#/admin/admins';" class="nav-link" id="admin-admins-tab" type="button" role="tab">Admins</button>
          <hr>
          <button onclick="location.href='#/admin/bans';" class="nav-link" id="admin-bans-tab" type="button" role="tab">Banlist</button>
        </div>
      </th>
      <th id="admin-content"></th>
    </tr>
  </table>
</script>
