<%= render 'pong/templates/oauth42' %>
<%= render 'pong/templates/pong' %>
<%= render 'pong/templates/users' %>

<table style="width:100%">
  <td>
    <th style="width:150px" valign="top" align="left">
      <ul>
        <% if !user_signed_in? %>
          <%= button_to "Sign in with 42", user_marvin_omniauth_authorize_path, class: "oauth42" %>
        <% else %>
          <%= render 'pong/templates/nav' %>
        <% end %>
      </ul>
    </th>
    <div>
    <th valign="top" align="left">
      <div id="app_main">Loading SPA</div>
    </th>
    </div>
  </td>
</table>
