<% if !user_signed_in? %>
  <%= render 'pong/templates/login' %>  
<% else %>
  <%= render 'pong/templates/nav' %>
  <%= render 'pong/templates/oauth42' %>
  <%= render 'pong/templates/pong' %>
  
  <%= render 'pong/templates/users' %>

  <table style="width:100%">
  <td>
    <th style="width:150px" valign="top" align="left">
    </th>
    <div>
    <th valign="top" align="left">
      <div id="app_main">Loading SPA</div>
    </th>
    </div>
  </td>
  </table>
<% end %>
