<% if !user_signed_in? %>
  <%= render 'pong/templates/login' %>
<% else %>
  <%= render 'pong/templates/2fa' %>
  <%= render 'pong/templates/nav' %>
  <%= render 'pong/templates/home' %>
  <%= render 'pong/templates/pong' %>
  <%= render 'pong/templates/settings' %>
  <%= render 'pong/templates/rooms' %>


  <%= render 'pong/templates/users' %>

  <table style="width:100%">
  <tr>
    <th valign="top" align="left">
      <div class="app_main">Loading SPA</div>
    </th>
  </tr>
  </table>
<% end %>

<div class="alerts-block">
  <div id="app-alerts"></div>
  <% flash.reverse_each do |type, msg| %>
    <%= content_tag :li, class: "alert alert-#{%w[success notice].include?(type) ? 'success' : type}" do %>
      <%= msg %><% end %>
  <% end %>
</div>
