<% if !user_signed_in? %>
  <%= render 'pong/templates/login' %>
<% else %>
  <%= render 'pong/templates/nav' %>
  <%= render 'pong/templates/home' %>
  <%= render 'pong/templates/oauth42' %>
  <%= render 'pong/templates/pong' %>
  <%= render 'pong/templates/settings' %>
  <%= render 'pong/templates/chat' %>


  <%= render 'pong/templates/users' %>

  <table style="width:100%">
  <td style="padding: 10px">
    <th style="width:10px" valign="top" align="left"></th>
    <th valign="top" align="left">
      <div id="app_main">Loading SPA</div>
    </th>
    <th style="width:10px" valign="top" align="left">
      <div id="app_chat" ></div>
    </th>
  </td>
  </table>
<% end %>

<div class="alerts-block">
  <div id="app-alerts"></div>
  <% flash.reverse_each do |type, msg| %>
    <%= content_tag :li, class: "alert alert-#{%w[success notice].include?(type) ? 'success' : 'danger'}" do %>
      <%= msg %><% end %>
  <% end %>
</div>
