<%= render 'pong/templates/oauth42' %>
<%= render 'pong/templates/pong' %>
<%= render 'pong/templates/users' %>

<table style="width:100%">
  <td>
    <th style="width:150px" valign="top" align="left">
      <ul>
        <% if !user_signed_in? %>
          <%= button_to "Sign in with 42", user_marvin_omniauth_authorize_path, class: "oauth42" %>
        <% else %>
          <li><a href="#/index">Home</a></li>
          <li><a href="#/pong">Pong</a></li>
          <li><a href="#/users">Users</a></li>
          <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% end %>
      </ul>
    </th>
    <th valign="top" align="left">
      <div id="app_main">Loading SPA</div>
    </th>
  </td>
</table>
