<!DOCTYPE html>
<html>
  <head>
    <title>Transcendence</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'pong' %>

    <style>
    	* { padding: 0; margin: 0; }
    	canvas { background: #000; display: block; margin: 0 auto; }
    </style>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
